body{
    text-align: center;
}
button{
    margin-right: 200px;
    margin-left: 235px;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 20px;
}
img{
    margin-left: 325px;
    margin-right: 325px;
}
h4{
    font-size: 25px;
}